# Secrets
.env
.env.*
!.env.example
**/application.properties
!**/application.properties.example
**/application-*.properties

# Backend (Spring Boot / Maven)
target/
.idea/
*.iml
.vscode/

# Frontend
node_modules/
dist/

# OS
.DS_Store